
.App {
  align-items: center;
  padding: 10px;
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img {
  /* background-image: url(https://www.researchgate.net/publication/7851913/figure/fig1/AS:278599291686935@1443434655651/Content-based-image-retrieval-as-a-diagnostic-aid-using-MedGift-and-the-database.png); */
  /* opacity: 0.5; */
}